In [106]:
import pandas as pd
from datetime import datetime
import time
import numpy as np
from os import listdir

In [107]:
file = "rota138FL"

df = pd.read_csv(f"../Raw/{file}.csv")

df

,Unnamed: 0,DataIni,HoraIni,DataFim,HoraFim,Sentido,Linha,NoVeículo,DuraçãoViagem,TotalGiros,KmPerc,Segundos
0,208938,1554681600000,19:32:00,1554681600000,19:59:00,Ida,138,4405,00:27:00,15,0.000,1620.0
1,208945,1556582400000,05:12:00,1556582400000,05:39:00,Volta,138,293,00:27:00,17,16.708,1620.0
2,208946,1556582400000,05:37:00,1556582400000,06:24:00,Volta,138,297,00:47:00,42,16.708,2820.0
3,208947,1556582400000,06:02:00,1556582400000,06:53:00,Volta,138,249,00:51:00,57,16.708,3060.0
4,208948,1556582400000,06:16:00,1556582400000,07:10:00,Volta,138,50349,00:54:00,66,16.708,3240.0
...,...,...,...,...,...,...,...,...,...,...,...,...
12123,208281,1567296000000,20:34:00,1567296000000,21:21:00,Volta,138,3321,00:47:00,26,16.708,2820.0
12124,208282,1567296000000,21:19:00,1567296000000,22:00:00,Volta,138,286,00:41:00,36,16.708,2460.0
12125,208283,1567296000000,22:01:00,1567296000000,22:45:00,Volta,138,279,00:44:00,24,16.708,2640.0
12126,208284,1567296000000,22:46:00,1567296000000,23:30:00,Volta,138,34420,00:44:00,12,16.708,2640.0
12127,208285,1567296000000,23:29:00,1567382400000,00:12:00,Volta,138,50344,00:43:00,11,16.708,2580.0

In [108]:
df["DataIni"] = pd.to_datetime(df["DataIni"], unit="ms")
df["DataFim"] = pd.to_datetime(df["DataIni"], unit="ms")
df["HoraIni"] = pd.to_datetime(df["HoraIni"]).dt.time
df["HoraFim"] = pd.to_datetime(df["HoraFim"]).dt.time

df

,Unnamed: 0,DataIni,HoraIni,DataFim,HoraFim,Sentido,Linha,NoVeículo,DuraçãoViagem,TotalGiros,KmPerc,Segundos
0,208938,2019-04-08,19:32:00,2019-04-08,19:59:00,Ida,138,4405,00:27:00,15,0.000,1620.0
1,208945,2019-04-30,05:12:00,2019-04-30,05:39:00,Volta,138,293,00:27:00,17,16.708,1620.0
2,208946,2019-04-30,05:37:00,2019-04-30,06:24:00,Volta,138,297,00:47:00,42,16.708,2820.0
3,208947,2019-04-30,06:02:00,2019-04-30,06:53:00,Volta,138,249,00:51:00,57,16.708,3060.0
4,208948,2019-04-30,06:16:00,2019-04-30,07:10:00,Volta,138,50349,00:54:00,66,16.708,3240.0
...,...,...,...,...,...,...,...,...,...,...,...,...
12123,208281,2019-09-01,20:34:00,2019-09-01,21:21:00,Volta,138,3321,00:47:00,26,16.708,2820.0
12124,208282,2019-09-01,21:19:00,2019-09-01,22:00:00,Volta,138,286,00:41:00,36,16.708,2460.0
12125,208283,2019-09-01,22:01:00,2019-09-01,22:45:00,Volta,138,279,00:44:00,24,16.708,2640.0
12126,208284,2019-09-01,22:46:00,2019-09-01,23:30:00,Volta,138,34420,00:44:00,12,16.708,2640.0
12127,208285,2019-09-01,23:29:00,2019-09-01,00:12:00,Volta,138,50344,00:43:00,11,16.708,2580.0

In [109]:
df.drop(['Sentido','Linha','NoVeículo','TotalGiros','KmPerc','DuraçãoViagem', 'Segundos', 'Unnamed: 0'], axis=1,inplace=True)

In [110]:
df['DataInicio'] = df.apply(lambda x: datetime.combine(x['DataIni'],x['HoraIni']),axis=1)
df['DataFimm'] = df.apply(lambda x: datetime.combine(x['DataFim'],x['HoraFim']),axis=1)

In [111]:
df.drop(['DataIni','HoraIni','DataFim','HoraFim'], axis=1,inplace=True)

In [112]:
df['tempo_viagem'] = (df['DataFimm'] - df['DataInicio']).dt.seconds

In [113]:
df['partidaTimeStamp'] = df['DataInicio'].values.astype(np.int64) // 10 ** 9

In [114]:
df['dia_semana'] = df['DataInicio'].dt.dayofweek + 1

In [115]:
df['tipo_dia'] = df['DataInicio'].dt.strftime('%Y-%m-%d') == '2019-09-07'
df['tipo_dia'].loc[df['tipo_dia'] == True] = 2
df['tipo_dia'].loc[df['tipo_dia'] == False] = 1

C:\Users\leovi\AppData\Local\Temp\ipykernel_32860\3507945792.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tipo_dia'].loc[df['tipo_dia'] == True] = 2

In [116]:
df['hora_dia'] = df['DataInicio'].dt.hour

In [117]:
df['turno_dia'] = df['hora_dia'].apply(lambda x: 1 if x < 5 else 4 if x > 17 else 2 if (x > 4 & x < 12) else 3 if (x > 11 & x < 18) else None)

In [118]:
df['qtdDiasAno'] = df['DataInicio'].dt.dayofyear

In [119]:
df.rename({"DataInicio": "data_partida"}, axis=1, inplace=True)

In [120]:
df.to_csv(f"../Clean/{file}.csv",sep=',',index = False)